@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(238, 255, 249);
}
/* Shared Items Start */
:root{
    --primary-color: #4E47FF;
    --p-f-color: rgba(37, 36, 50, 0.5);
    
}

.btn-primary{
   font-family: "Raleway", sans-serif;
   padding: 12px 36px;
   border: none;
   border-radius: 10px;
   color: white;
   background-color: var(--primary-color);
   font-weight: 600;
   font-size: 16px;
   cursor: pointer;
}

.btn-primary:hover{
    background-color: #FFB805;
    color: black;
    transition: .5s;
    font-size: 18px;
}

.text-inter{
    font-family: "Inter", sans-serif;
}
.text-raleway{
    font-family: "Raleway", sans-serif;
}
/* Shared Items End */

/* Nav Section */
header{
    background-image: url(../Assets/Hero-bg.png);
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    background-size: cover;
}

nav{
    width: 1140px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.logo h3{
    font-size: 34px;
    color: var(--primary-color);
    font-weight: 900;
}

/* Hero Section */
.hero-section{
    width: 905px;
    margin: 154px auto;
    text-align: center;
    padding-bottom: 154px;

    h1{
        font-size: 65px;
        margin-bottom: 37px;
        color: rgba(37, 36, 50, 1);
    }
}

/* Action Section */
.action{
    width: 1140px;
    margin: 116px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action .act-discription{
    width: 517px;
}

.action h3{
    font-size: 42px;
    font-weight: 600;
}

.action p{
    font-size: 24px;
    margin: 23px 0;
    color:rgba(37, 36, 50, 0.5);
}

.action img{
    border-radius: 48px;
}


/* Productive User Section */
.pro-user{
    width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px;
    border-radius: 24px;
}
   .pro-user h2{
        font-size: 38px;
        font-weight: 600;
    }

   .pro-user .pro-feedback{
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;
    }

   .pro-user h1{
        font-size: 80px;
        font-family: "Inter", sans-serif;
        color: var(--primary-color);
    }

   .pro-user p{
        font-size: 20px;
        font-family: "Inter", sans-serif;
        color: rgba(0, 0, 0, 0.5);
    }


/* User Feedback Section */
.user-feedback{
    width: 1140px;
    margin: 137px auto;  
}
.user-feedback h2{
        text-align: center;
        font-size: 42px;
        font-weight: 600;
        font-family: "Raleway", sans-serif;
        margin-bottom: 50px;
    }

   .user-feedback .users{
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }

   .user-feedback .users .user1, .user2, .user3{
            padding: 24px;
        }

       .user-feedback .users i{
            font-size: 20px;
            color: #FFB805;
            margin-bottom: 24px;
        }

       .user-feedback .users h3{
            font-size: 24px;
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 8px;
        }

       .user-feedback .users p{
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 24px;
        }

       .user-feedback .users .user{
            display: flex;
            gap: 12px;
            align-items: center;
        }

       .user-feedback .users img{
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }

       .user-feedback .users .user-details{
            font-family: Arial, Helvetica, sans-serif; 
        }

        .user-feedback .users .user-details h5{
                font-size: 16px;
                color: rgba(0, 0, 0, 0.5);
                margin-bottom: 2px;
            }
        .user-feedback .users .user-details p{
                margin: 0;
                font-size: 14px;
                color: rgba(0, 0, 0, 0.4);
            }


/* Ready to focus better */

.b-focus{
    width: 1140px;
    margin: 100px auto;
    padding: 71px;
    text-align: center;
    background-color: white;
    border-radius: 14px;
}

.b-focus h1{
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .b-focus p{
        color: rgba(0, 0, 0, 0.5);
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 20px;
    }

    .b-focus img{
        margin-top: 20px;
        border-radius: 48px;
    }

/* Newsletter Section */

.newsletter{
    width: 1140px;
    margin: 92px auto 12px;
    padding: 71px 0;
    display: flex;
    gap: 114px;
    align-items: center;
}
.newsletter h1{
        font-size: 97px;
        width: 528px;
    }


form{
    width: 497px;  
}
form label{
        display: block;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 500;
        font-family: "Inter", sans-serif;
    }
    
   form input{
        width: 100%;
        height: 70px;
        border: none;
        padding: 20px 32px;
        font-size: 20px;
        border-radius: 10px;
        font-family: "Inter", sans-serif;
    }

   form textarea{
        width: 100%;
        height: 135px;
        padding: 20px 32px;
        border: none;
        border-radius: 10px;
        margin-bottom: 10px;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        
    }
form::placeholder{
        opacity: .5;
    }

form input[type=submit]{
        background-color: #4E47FF;
        color: white;
        cursor: pointer;
    }
form input[type=submit]:hover{
        background-color: #FFB805;
        color: black;
        transition: .5s;
        font-size: 24px;
    }

input:focus,
textarea:focus,
.btn-primary:focus {
  outline: 2px solid #4E47FF;
  background-color: #f0f0f0;
}



/* Footer section */
footer{
    background-color: white;
    padding: 104px 0;
}
.footer{
    width: 531px;
    margin: 14px auto 0;
    background-color: white;
    text-align: center;  
}

.footer h1{
        font-size: 100px;
        color: var(--primary-color);
        font-weight: 900;
    }
.footer p{
        color: #8987A1;
        font-family: Arial, Helvetica, sans-serif;
    }
.footer ul{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
.footer li{
        list-style: none;
    }
 .footer a{
        text-decoration: none;
        color: #8987A1;
        font-family: Arial, Helvetica, sans-serif;
    }
.footer a:hover{
        padding: 6px 14px;
        background-color: #FFB805;
        color: black;
        border-radius: 5px;
        transition: .5s;
        cursor: pointer;
    }